{% extends 'vetsark/base.html' %}
{% block content %}

<div class="jumbotron text-center mdb-color lighten white-text z-depth-2">
        <div class="container">
          <h1>Add New Stocks</h1><br>
          
        </div>
</div>

<div class="container" id="stock-bread">
<ol class="breadcrumb navbar-dark black">
        <li class="breadcrumb-item"><a href="{% url 'stock' %}">Stock List</a></li>
        <li class="breadcrumb-item"><a href="{% url 'addstock' %}">Add New Stock</a></li>
        <li class="breadcrumb-item"><a href="{% url 'addcategory' %}">Add New Category</a></li>
    </ol>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!-- Default form contact -->

<form class="text-center border border-light p-5" action="" method="POST" role="form">
    {% csrf_token %}
        <p class="h4 mb-4">Add new Stock</p>

           <select class="browser-default custom-select mb-4">
            <option value="" disabled>Choose option</option>
            {% for new_stock in new_stock %}
            <option value="1" selected>{{ new_stock.name }}</option>
            {% endfor %}
         </select>

         <div class="form-group">
            {{ form.name_of_item }}
          
        </div>
        <div class="form-group">
            {{ form.qty_at_hand }}
          
        </div>
        <div class="form-group">
            {{ form.sales_price }}
           
        </div>
        <div class="form-group">
            {{ form.cost_price }}

        </div>
        <div class="form-group">
            {{ form.re_order }}
        </div>
       
 
       
        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Add</button>
    
    </form>
    <!-- Default form contact -->
    </div>
    <div class="col-md-3"></div>
</div>
</div>


{% endblock %}